/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Feb, 2016, 11:48:38 AM
    Author     : JARVIS
*/
.container{
    text-align: left;
    color: #00bfa5;
}

header nav{
    display: flex;
    float: right;
    justify-content: flex-end;
}

header div {
  text-justify: center;
  padding: 20px;
  margin-top: 20px;
}

#sub{
    background-color: red;
    border-radius: 100%;
    width: 25%;
    height: 50px;
    text-align: center;
}

p{
	padding: 20px;
}
